@tailwind base;
@tailwind components;
@tailwind utilities;

.slider {
  @apply w-[250px] h-[180px] flex-none border-4 border-primary-900 rounded-3xl overflow-hidden cursor-pointer backdrop-brightness-50 backdrop-blur-lg;
}

.slider:first-child {
  @apply !ml-0;
}

.slider img {
  @apply transition-transform duration-700;
}

.bronya-apho-bg {
  background-image: url('/images/bronya-apho-bg-2.png');
  @apply w-screen h-screen bg-no-repeat bg-cover;
}
.yae-miko-bg {
  background-image: url('/images/yae-miko-bg.png');
  @apply w-screen h-screen bg-no-repeat bg-cover;
}
.fu-xuan-bg {
  background-image: url('/images/fu-xuan-bg.png');
  @apply w-screen h-screen bg-no-repeat bg-cover;
}
